
<md-content flex>
	
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />


		<!-- Banner -->
			<section id="banner" style="border-left: solid 1px #FFF; background-color: #ef5350; height: 80vh;">

				<h2><strong>Sign In</strong></h2>
				<ul class="actions">
					<form action="chart" method="GET">
						<div class="input-group input-group-lg">
						  <input type="text" class="form-control transp" placeholder="E-mail" type="text" name="username"="Search">
						  <br>
  						  <input type="password" class="form-control transp" placeholder="Password" type="text" name="username"="Search">
						  <br>

						  <span class="input-group-btn">
 						  </span>
						</div>
					</form>


					<li><a href="signup" class="button special">Welcome back</a></li>
				</ul>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
				&copy; Pushfeed</a>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>


</md-content>